<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">מקצוע</th>
      <th scope="col">מורה</th>
      <th scope="col">ציון</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arr">
      <th scope="row">*</th>
      <td>{{item.subject}}</td>
      <td>{{item.firstName}} {{item.familyName}}</td>
      <td>{{item.mark}}</td>
    </tr>
  </tbody>